<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.spambouncer</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/hector/TIM Dropbox/Hector Torres/Apps/spam-email/spam_bouncer.py</string>
        <string>--interval</string>
        <string>300</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/hector/TIM Dropbox/Hector Torres/Apps/spam-email</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/hector/TIM Dropbox/Hector Torres/Apps/spam-email/logs/spam_bouncer_stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/hector/TIM Dropbox/Hector Torres/Apps/spam-email/logs/spam_bouncer_stderr.log</string>

    <key>StartInterval</key>
    <integer>300</integer>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
